/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: #041a24;
  height: 100vh;
  background: linear-gradient(26deg, #4474b3, #fcfbfb);
  justify-content: center;
  font-family: "Salsa", cursive;
  letter-spacing: 0.05em;
  margin-left: 10px;
  margin-right: 10px;
}

.welcome {
  text-align: center;
  font-size: 200%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
@media (max-width: 375px) {
  .app {
    height: auto;
  }
}

.input {
  width: 100%;
  max-width: 600px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: #faf7f7;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 375px) {
  .input {
    max-width: 320px;
    height: 20vh;
  }
}

.input > div {
  margin-bottom: 1em;
}

.input input[type=text] {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ddd;
  border-radius: 0.5em;
}

#add-btn {
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5em;
  background-color: #efecec;
  color: #041a24;
  font-size: 1em;
  cursor: pointer;
  transition: transform 0.1s, box-shadow 0.1s, color 0.3s;
}

#add-btn:hover {
  color: #2b2a2a;
  transform: scale(1.05);
  box-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.3);
}

.card__creationdate {
  display: none;
}

.task-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-top: 2em;
  height: auto;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  padding: 20px;
  border-radius: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2);
  margin-bottom: 1em;
  min-width: 230px;
}
@media (min-width: 376px) {
  .column {
    max-width: calc(50% - 20px); /* For tablet view, two columns */
  }
}
@media (max-width: 375px) {
  .column {
    max-width: 100%; /* For mobile view, full width */
  }
}

.column h2 {
  color: #041a24;
  background-color: #66aee9;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 1em;
  text-align: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid rgb(155, 155, 247);
  background-color: rgb(231, 231, 238);
  border-radius: 10px;
  margin-bottom: 5px;
  gap: 5px;
}

#card__title {
  font-size: 200%;
  background-image: url(../img/pastel.jpg);
  background-size: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  max-width: 350px;
  width: 100%;
  max-height: 50px;
  height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.task {
  background-color: #faf8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.controls-container {
  display: flex;
  align-items: center;
}

#tri-par-container {
  margin-right: 20px;
}

#tri-par {
  padding: 3px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  outline: none;
  width: 150px;
}

#tri-par option {
  padding: 3px;
}

#ListMode {
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-right: 10px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #66aee9;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.trash-icon,
.edit-icon,
.check-icon {
  width: 20px;
  height: 20px;
  padding-left: 8px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.trash-icon:hover,
.edit-icon:hover,
.check-icon:hover {
  transform: scale(1.2);
}/*# sourceMappingURL=style.css.map */